.header-table{
    background-color: #135d54;
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
}
 
 .h1 {
    margin-top: 25px;
    margin-bottom: 60px;
 }
 
.confirm {
    margin-left: 10px;
    margin-top: 30px;
}

.cancel {
    margin-left: 10px;
    margin-top: 30px;
}

.list {
    margin-left: 10px;
}